@{
    ViewData["Title"] = "Blog Page";
}

<div class="text-center">
    <h1 class="display-4">Blog</h1>
    <p>This is a paragraph in the Blog page.</p>
    <p>
        @Html.ActionLink("Create New", "")
    </p>
</div>